* {
  font-family: "Roboto", sans-serif;
}

html {
  --infoHeight: 250px;
}

body {
  background-color: #0f74b8;
  color: #fff;
  padding: 20px;
  margin: 0;
  overflow: hidden;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0) 70%);
  pointer-events: none;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

input {
  font-weight: bold;
}

.temp {
  font-size: 48px;
  font-weight: bold;
}

.city {
  font-size: 20px;
  margin-bottom: 10px;
}

.weather {
  font-size: 16px;
  font-style: italic;
}

.img {
  font-size: 60px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

.city {
  padding-top: 8px;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.info {
  font-size: 20px;
  height: var(--infoHeight);
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  opacity: 1;
  animation-name: revealAnim;
  animation-duration: 1s;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.searchBtn {
  flex: 1;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}

.searchBtn:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
}

button svg {
  fill: #888;
  width: 20px;
  height: 20px;
  border-left: 2px solid #6b6b6b;
  padding-left: 4px;
}

button:before {
  content: "";
  position: absolute;
  top: 0;
}

button:hover svg {
  fill: #000;
}

.hidden {
  display: none;
}

@keyframes revealAnim {
  0% {
    height: 0;
  }
  100% {
    height: var(--infoHeight);
  }
}

.box {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 15px;
}